.card{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--divider-color);
    border-radius: 4px;
    max-width: 20rem;
    transition: all 0.3s ease-in;
}

.card.shadow{
    box-shadow: 0px 0px 4px var(--divider-color);
}

.card.shadow:hover{
    box-shadow: 0px 0px 8px var(--divider-color);
}

.card-horizontal{
    display: flex;
    flex-direction: row;
    max-width: 45rem;
}

.card.container .card-media{
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.card-text{
    margin-bottom: 0;
}

.card-body{
    padding: 0.5rem;
}

.card-text{
    text-align: justify;
}

.card-footer{
    padding: 0.5rem 0.5rem 0.5rem;
}

.card .badge{
    right: -1px;
    top: 2rem;
    padding: 0.5rem 1rem;
    height: auto;
    width: auto;
    border-radius: 4px;
    font-size: 0.8rem;
    color : var(--bg-color);
}

.card.dismiss{
    position: relative;
}

.card.dismiss .btn.icon-only{
    position: absolute;
    right: 0.8rem;
    top:0.8rem;
}

.card.overlay{
    position: relative;
}

.card .overlay-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
    background-color: var(--bg-color);
    opacity: 80%;
}