:root{
    --primary-color : #2a93c4;
    --primary-text : #e2e2e2;
    --secondary-text : #dddddd;
    --divider-color : #3b3b3b;
    --background-primary : #090909;
    --background-secondary : #121212;
    --danger-color : #c73232;
    --success-color : #1eb47d;
    --warn-color : #c9a410;
}