:root{
    --primary-color : #1dadf0;
    --primary-text : #212121;
    --secondary-text : #757575;
    --divider-color : #BDBDBD;
    --background-primary : #fcfcfc;
    --background-secondary : #fefefe;
    --danger-color : #f87171;
    --success-color : #34d399;
    --warn-color : #facc15;
}