.page-layout{
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%
}

.sidebar{
    box-shadow: 0px 2px 4px var(--divider-color);
    height: 100vh;
    position: sticky;
    top: 0;
}

.sidebar-title{
    text-align: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--divider-color);
    margin-top: 0;
}

.sidebar-menu{
    overflow-y: auto;
    padding: 1rem;
}

.sidebar-menu-item{
    list-style-type: none;
    border-radius: 4px;
    display: flex;
}

.sidebar-menu-item a{
    width: 100%;
    padding: 0.5rem 1rem;
}

.sidebar-menu-item.active{
    background-color: var(--primary-color);
}

.sidebar-menu-item:hover:not(.active) a{
    color: var(--primary-color)
}

.comps-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px var(--divider-color);
    background-color: var(--background-secondary);
}

.align-start{
    align-items: flex-start;
}

.comps-container.column{
    flex-direction: column;
}

.code-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: auto;
}

pre{
    white-space: pre-wrap;
    word-wrap: break-word;
}

main{
    padding: 2rem;
}

.container-lg{
    max-width: 1200px;
    margin: auto;
}

.flex{
    display: flex;
    gap: 1rem;
}

.grid{
    display: grid;
    align-items: center;
}

.col-2{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.justify-center{
    justify-content: center;
}

.comps-container > .toast{
    display: flex;
    position: static;
}

.footer{
    box-shadow: -4px 0 4px var(--divider-color);    
}

@media only screen and (max-width: 768px) {
    .sidebar {
        top: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: all ease 0.5s;
        background-color: var(--background-secondary);
    }

    .sidebar.show{
        height: 100vh;
    }

    .sidebar.show ~ main{
        display: none;
    }

    .page-layout{
        grid-template-columns: 1fr;
    }

    .col-2{
    grid-template-columns: 1fr;
    }
}
