.input{
    padding: 0.5rem;
    font-size: 1rem;
    font-family: inherit;
    border: 1px solid var(--divider-color);
    border-radius: 4px;
    display: block
}

.input.range{
    color: red;
}

.label{
    display: inline-block;
    margin-bottom: 4px;
}

.invalid{
    border-color: var(--danger-color);
}

.invalid-feedback{
    color: var(--danger-color);
}

.input:read-only, .input:disabled{
    background-color: var(--bg-color);
}

.input:focus{
    outline: none;
    border-color: var(--primary-color);
}