@import url('./reset.css');
@import url('./colors.css');
@import url('./utility.css');
@import url('./typography.css');
@import url('./navbar.css');
@import url('./avatar.css');
@import url('./badge.css');
@import url('./alert.css');
@import url('./button.css');
@import url('./image.css');
@import url('./input.css');

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-color);
    color : var(--complementary-text);
}

p{
    color: var(--primary-text);
}