.modal{
    background-color: var(--background-alpha);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
}

.modal.open{
    display: flex;
}

.modal-dialog{
    margin: 2rem auto; 
    height: max-content;
    background-color: var(--background-primary);
    border-radius: 4px;
    min-width: 300px;
}

.modal-dialog.centered{
    margin: auto;
}

.modal-body, .modal-footer, .modal-header{
    padding: 0.5rem;
    border-bottom: 1px solid var(--divider-color);
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-footer{
    display: flex;
    gap: 1rem;
    justify-content: end;
}

.border-none{
    border: none;
}

body.modal-open{
    overflow: hidden;
}