nav{
    display: flex;
    padding: 1rem;
    box-shadow: 0 0 4px var(--divider-color);
    min-height: 10vh;
    width: 100%;
}

.nav-section{
    display: flex;
}

.nav-section.right{
    margin-left: auto;
}

.nav-section.left{
    margin-right: auto;
}

.nav-logo{
    height: 50px;
    width: 50px;
}

.nav-logo img{
    width: 100%;
    height: 100%;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu-resp{
    display: none;
}

.nav-menu-item{
    list-style-type: none;
    padding: 0;
}

.nav-menu-item:hover a{
    color: var(--primary-color)
}

.nav-menu-item a{
    padding: 1rem 0.5rem;
    margin: 0;
}
@media only screen and (max-width: 768px) {
    .nav-section{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
    }

    .nav-menu{
        display: none;
    }

    .nav-menu-resp{
        display: block;
    }
}