@import url('./common/reset.css');
@import url('./common/colors.css');
@import url('./common/utility.css');
@import url('./common/typography.css');
@import url('./components/navbar.css');
@import url('./components/avatar.css');

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-color);
    color : var(--complementary-text);
}

p{
    color: var(--primary-text);
}