:root{
    --primary-color : #03A9F4;
    --primary-dark : #0288D1;
    --primary-light : #B3E5FC;
    --complementary-text : #11142D;
    --primary-text-dark : #212121;
    --secondary-text : #757575;
    --divider-color : #BDBDBD;
    --accent-color : #009688;
    --bg-color: #fcfcfc;

    /* --primary-color : #03A9F4;
    --primary-dark : #B3E5FC;
    --primary-light : #0288D1;
    --complementary-text : #FFFFFF;
    --primary-text-dark : #212121;
    --secondary-text : #757575;
    --divider-color : #424242;
    --accent-color : #009688;
    --bg-color : #11142D; */
}

body{
    background-color: var(--bg-color);
    color : var(--complementary-text);
}

/* .dark-primary-color    { background: #0288D1; }
.default-primary-color { background: #03A9F4; }
.light-primary-color   { background: #B3E5FC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #009688; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
 */